/* Univeral tags */
body {
  background-color: #cfd3df;
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

input {
  border: none;
  outline: none;
  padding: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
/* App */
.app {
  width: 350px;
  height: 500px;
  margin: auto;
  border-radius: 20px;
  background: linear-gradient(to bottom right, #dfc0d8, #93bced);
  margin-top: 50px;
}

.app__title {
  color: white;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.app__lists {
  height: 70%;
  background: #f2f0f6;
}

.list {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
}

.list__deleteBtn:hover {
  color: red;
}

.app__form {
  height: 20%;
}
.form__addInput {
  width: 100%;
  height: 25%;
}

.form__addBtn i {
  padding-top: 0.5rem;
  font-size: 3rem;
}
